<h1>Draw With Me!<h1>
<p id="status"></p>


<canvas id="simple_sketch" width="500" height="500" style="border-style: solid;"></canvas>
<script type="text/javascript">
  $(function() {
    $('#simple_sketch').sketch();
  });

  $(document).ready(function(){
    var canvas = document.getElementById("simple_sketch");
    var canvasWidth = canvas.width;
    var canvasHeight = canvas.height;
    var ctx = canvas.getContext("2d");
    var canvasData = ctx.getImageData(0, 0, canvasWidth, canvasHeight);

    // That's how you define the value of a pixel //
    function drawPixel (x, y, r, g, b, a) {
        var index = (x + y * canvasWidth) * 4;

        canvasData.data[index + 0] = r;
        canvasData.data[index + 1] = g;
        canvasData.data[index + 2] = b;
        canvasData.data[index + 3] = a;
    }

    // That's how you update the canvas, so that your //
    // modification are taken in consideration //
    function updateCanvas() {
        ctx.putImageData(canvasData, 0, 0);
    }

    drawPixel(100, 100, 255, 0, 0, 255);
    updateCanvas();

  });



</script>
